body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

a {
    color: #ff6b81; /* Розовый */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #ef1641; /* Более яркий розовый при наведении */
}

h1 {
    font-weight: bold;
    border-bottom: 2px solid #3f3f3f;
    padding: 0 0 10px 0;
    color: #3f3f3f;
    font-size: 28px;
}

h2 {
    font-weight: normal;
    margin: 20px 0 10px;
    color: #ffffff;
    font-size: 24px;
}

#content {
    float: left;
    width: 60%;
    padding: 0 0 0 30px;
}

#sidebar {
    float: right;
    width: 30%;
    padding: 10px;
    background: #ff6b81;
    height: 100%;
}

p.date {
    color: #ff99cc; /* Более яркий розовый */
    font-family: Georgia, serif;
    font-size: 14px;
    font-style: italic;
}

/* pagination */
.pagination {
    margin: 20px 0;
    font-weight: bold;
}

/* forms */
label {
    clear: both;
    color: #3399cc; /* Голубой */
    margin-bottom: 10px;
    font-size: 16px;
}

input, textarea {
    clear: both;
    margin: 0 0 15px;
    background: #ffccf2; /* Бледный розовый */
    border: 1px solid #ff99cc; /* Более яркий розовый */
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

input[type=submit] {
    font-weight: bold;
    background: #0099cc; /* Голубой */
    color: #fff;
    padding: 12px 20px;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.errorlist {
    color: #ff6b81; /* Розовый */
    padding-left: 10px;
    font-size: 14px;
}

/* comments */
.comment {
    padding: 15px;
    background: #ffccf2; /* Бледный розовый */
    border: 1px solid #ff99cc; /* Более яркий розовый */
    border-radius: 5px;
    margin-bottom: 15px;
}

.comment:nth-child(even) {
    background: #ff99cc; /* Более яркий розовый */
}

.comment .info {
    font-weight: bold;
    font-size: 16px;
    color: #3399cc; /* Голубой */
}
